
/* Media object
================================================== */

@import url("_normalize.css");
@import url("_layout.css");

/* Default styles */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}


/* Object
================================================== */

.media, 
.media-body {
  overflow: hidden;
}
.media-primary .media-object,
.media-secondary .media-object-alt {
  float: right;
  margin: 0 0 20px 20px;
}
.media-primary .media-object-alt,
.media-secondary .media-object {
  float: left;
  margin: 0 20px 20px 0;
}
.media-object img,
.media-object-alt img {
  display: block;
}
.media-count {
  color: #999;
  float: right;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px 2px 5px;
}


/* Primary
================================================== */

.media-primary .media {
  border-top: 1px solid #d4d4d4;
}


/* Secondary
================================================== */

.media-secondary .media-object img,
.media-secondary .media-object-alt img {
  width: 40px;
}
