/* Media object
================================================== */

/* Default styles */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
