/* Navigation
================================================== */


/* Clearfix
================================================== */

.nav-tabs:before,
.nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  content: "";
  display: table;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

/* Default
================================================== */

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  float: left;
}
.nav a {
  color: #08c;
  display: block;
  margin-right: 2px;
  padding: 8px 12px;
  text-decoration: none;
}
.nav a:hover,
.nav a:focus {
  background-color: #eee;
}
.nav .active a {
  cursor: default;
}


/* Tabs
================================================== */

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs li {
  margin-bottom: -1px;
}
.nav-tabs a {
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
       -o-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  border: 1px solid transparent;
}
.nav-tabs a:hover,
.nav-tabs a:focus {
  border-bottom-color: #ddd;
}
.nav-tabs .active a {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #555;
}


/* Pills
================================================== */

.nav-pills a {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.nav-pills .active a {
  background-color: #08c;
  color: #fff
}


/* Stacked
================================================== */

.nav-tabs-stacked li,
.nav-pills-stacked li {
  float: none;
}

/* Tabs */

.nav-tabs-stacked {
  border: none;
}
.nav-tabs-stacked a {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
  border: 1px solid #ddd;
}
.nav-tabs-stacked li:first-child > a {
      -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
      -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}
.nav-tabs-stacked li:last-child > a {
      -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
}

/* Pills */

.nav-pills-stacked a {
  margin-bottom: 3px;
}
