/* Front-end Legos Workshop with Shay Howe & Darby Frey
======================================================= */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display definitions
======================================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Base
======================================================= */

html {
  height: 100%;
}
body {
  background: #3a3a40;
  color: #4c4c53;
  font: 16px/22px "Open Sans", Verdana, Helvetica, sans-serif;
  margin: 0;
  position: relative;
  min-height: 100%;
}

/* Typography
======================================================= */

h1, h2, h3, h4 {
  margin: 0;
}

/* Sizes */

h1,
.h-headline {
  font-size: 21px;
  font-weight: 300;
}
h2,
.h-subheadline {
  font-size: 16px;
}
h3,
.h-byline {
  font-size: 14px;
}
h4,
.h-standfirst {
  font-size: 12px;
}

/* Offset */

.artist {
  color: #95959a;
}

/* Weights */


h2, h3, h4 {
  font-weight: 400;
}
.h-bold {
  font-weight: 600;
}

/* Links */

a {
  color: #97979a;
  text-decoration: none;
  -webkit-transition: all .1s linear;
     -moz-transition: all .1s linear;
       -o-transition: all .1s linear;
          transition: all .1s linear;
}

/* Lists */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hardware acceleration
======================================================= */

.boost {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* Image replacement
======================================================= */

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Flag object
======================================================= */

.flag {
  display: table;
  width: 100%;
}
.flag-object,
.flag-body {
  display: table-cell;
  vertical-align: middle;
}
.flag-object img {
  display: block;
}
.flag-body {
  width: 100%;
}

/* Loading
======================================================= */

.loading {
  color: #95959a;
  margin: 0 auto;
  padding: 66px;
  width: 292px;
}
.loading .flag-object {
  padding-right: 10px;
}
.loading .flag-object img {
  height: 22px;
}

/* Cover art
======================================================= */

.cover-art {
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.cover-background {
  bottom: 0;
  -webkit-filter: blur(60px);
     -moz-filter: blur(60px);
          filter: blur(60px);
  left: 0;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
}

/* Controls
======================================================= */

.controls-container {
  overflow: hidden;
  position: relative;
}
.controls {
  margin: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.controls li {
  display: inline-block;
  vertical-align: middle;
}
.controls a {
  background-image: url("../img/controls.png");
  background-image: url("../img/controls.svg");
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  display: block;
}

/* Control icons */

.control-play {
  background-position: 0 0;
}
.control-prev {
  background-position: -40px 0;
}
.control-next {
  background-position: -74px 0;
}
.control-fav {
  background-position: -108px 0;
}
.control-share {
  background-position: -136px 0;
}

/* Container
======================================================= */

.container {
  display: none;
  padding: 66px 0;
  position: relative;
  margin: 0 auto;
  width: 352px;
  z-index: 2;
}

/* Player
======================================================= */

.player {
  border-radius: 5px 5px 0 0;
  height: 352px;
}
.player-controls {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  background:    -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  background:         linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  bottom: 0;
  padding: 44px 20px 22px 20px;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
}
.player:hover .player-controls {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}
.player-controls a {
  border-color: #fff;
  height: 38px;
  margin: 0 8px;
  width: 38px;
}
.player-controls a:hover {
  background-color: rgba(0, 0, 0, .5);
}
.player-controls .control-play {
  height: 44px;
  width: 44px;
}

/* Now playing
======================================================= */

.now-playing {
  background: #3a3a40;
  color: #fff;
  padding: 21px 20px;
}
.now-playing .artist {
  margin-top: 2px;
}

/* Playlist
======================================================= */

.playlist {
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.playlist-song {
  border-bottom: 1px solid #bfbfbf;
  padding: 22px 0 21px 0;
}
.playlist-song:last-child {
  border: none;
}
.playlist-song:hover {
  cursor: pointer;
}
.playlist-song .flag-object {
  padding: 0 20px;
}
.playlist-song .flag-object img {
  border-radius: 5px;
  height: 66px;
}
.playlist-song .controls-container {
  padding-right: 20px;
}
.playlist-controls {
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #fff 35px);
  background:    -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #fff 35px);
  background:         linear-gradient(to right, rgba(255, 255, 255, 0), #fff 35px);
  height: 100%;
  padding: 0 20px 0 40px;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
}
.playlist-song:hover .playlist-controls {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.playlist-controls li {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.playlist-controls a {
  border-color: #bfbfbf;
  height: 32px;
  width: 32px;
}
.playlist-controls a:hover {
  border-color: #7c7c87;
}
