// Variables
// ==================================================

// Layout

$grid-columns:  3;
$grid-gutter:   20px;
$grid-baseline: 20px;

// Brand colors

$blue:       #29abe2;
$green:      #62c462;
$orange:     #fbb450;
$red:        #da4f49;

// Monochromatic colors

$white:      #fff;
$gray-light: #d4d4d4;
$gray:       #999;
$gray-dark:  #555;
$black:      #333;

// Typography

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-bold:       600;
$font-size-base:         14px;

// Misc

$border-radius: 5px;